.label-primary {
    color: $color-primary !important;
    border-radius: 4px;
    font-size: 1em;
    font-weight: 600;
    max-width: fit-content;
    text-decoration: none;
    border: none;
    cursor: pointer;
    z-index: 3;
}